<form (ngSubmit)="editTask()">
  <h3 mat-dialog-title>Editar Tarea</h3>
  <div mat-dialog-content>

    <div class="input-field col s6">
      <input name="task_name" id="task_name" type="text" class="validate" [(ngModel)]="taskModel.task_name">
      <label class="active" for="task_name">Nombre Tarea</label>
    </div>

    <div class="input-field col s6">
      <input name="task_priority" id="task_priority" type="number" class="validate" [(ngModel)]="taskModel.task_priority">
      <label class="active" for="task_priority">Prioridad</label>
    </div>

    <label class="active" for="date_expired">Fecha de vencimiento</label>
    <div class="input-field col s6">
      <input name="date_expired" id="date_expired" type="date" class="validate" [(ngModel)]="taskModel.date_expired">
    </div>

    <mat-form-field >
      <mat-select placeholder="Usuario" [(ngModel)]="taskModel.owner" name="owner">
        <mat-option *ngFor="let user of Users" [value]="user.id">
          {{ user.email }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div mat-dialog-actions class="row">
    <button class="btn btn-sm btn-default col s6" mat-dialog-close>Cerrar</button>
    <button class="btn btn-sm btn-warning col s6 light-blue lighten-2" type="submit">Actualizar</button>
  </div>
</form>